<header class="header-nav">
    <div>
        <a href="/">
        <img 
            width="80"
            height="80"
            loading="lazy"
            src="{{ 'nike-logo.png' | asset_url }}">
    </a>
    </div>
    <div>
       <ul class="middle-nav-link">
        {% for link in linklists['main-menu'].link %}
            <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
           
        </ul> 
    </div>
    <div></div>
</header>